<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>L14 HW T1 Var 1</title>

    <link href="../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet" />
    
    <style>
        body { margin: 20px; }
    </style>

    <script src="../Libraries/angular.js"></script>
    <script>
        // ### Задача 1
        // Создайте сервис, который предоставляет стандартные математические операции – сложение, умножение и т.д. Используйте три разных способа для создания сервиса.

        var app = angular.module("myApp", []);

        app.factory('calculator', function () {
            return {
                sum: function (a, b) {
                    return a + b;
                },
                substract: function (a, b) {
                    return a - b;
                },
                multiply: function (a, b) {
                    return a * b;
                },
                divide: function (a, b) {
                    return (a / b).toFixed(3);
                }
            }
        });

        app.controller("MyAppCtrl", ['$scope', 'calculator', function ($scope, calculator) {

            $scope.result = '';

            $scope.sum = function () {
                $scope.result = calculator.sum(+$scope.num1, +$scope.num2);
            };

            $scope.substract = function () {
                $scope.result = calculator.substract(+$scope.num1, +$scope.num2);
            };

            $scope.multiply = function () {
                $scope.result = calculator.multiply(+$scope.num1, +$scope.num2);
            };

            $scope.divide = function () {
                $scope.result = calculator.divide(+$scope.num1, +$scope.num2);
            };
        }]);
    </script>

</head>
<body>
    <p>Lesson 14 Homework Task 1 Var 1</p>

    <div class="container" ng-controller="MyAppCtrl">
        <h2>Калькулятор</h2> 

        <div>
            <input class="text-right" ng-model="num1" />
            <input class="text-right" ng-model="num2" /><br><br>
            <p>Результат: <span ng-bind="result"></span></p><br>

            <input type="button" value="+" name="sum" class="btn btn-default" ng-click="sum()"> 
            <input type="button" value="-" name="substract" class="btn btn-default" ng-click="substract()">
            <input type="button" value="*" name="multiply" class="btn btn-default" ng-click="multiply()"> 
            <input type="button" value="/" name="divide" class="btn btn-default" ng-click="divide()"> <br>
        </div>
    </div>
</body>
</html>