<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>L12 CW T2</title>

    <link href="../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet" />

    <script src="../Libraries/angular.js"></script>
    <script>
        // ### Задача 2
        // Используйте таблицу с данными массива items из предыдущей задачи. Реализуйте следующее:
        // Добавьте на страницу 5 элементов checkbox с именами свойств элементов массива items(name, price и т.д.)
        // Нажатие на каждый из checkbox скрывает/отображает соответствующее свойство элементов массива items в таблице
        // Используйте директиву ng-switch

        
        var helloWorldApp = angular.module('myApp', []);

        helloWorldApp.controller("MyAppCtrl", function($scope) {

            $scope.items = [
            { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
            { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
            { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
            { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];

            $scope.checked = {
                name: true,
                price: true,
                category: true,
                count: true,
                tax: true,
                expiration: true
            };
        });
    </script>
</head>
<body>
    <p>Lesson 12 Classwork Task 2</p>

    <div class="container" ng-controller="MyAppCtrl" ng-cloak>
        <h3>Массив items</h3>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Count</th>
                    <th>Tax</th>
                    <th>Expiration</th>
                </tr>
            </thead>
            <tr ng-repeat="item in items" ng-cloak>
                <td>{{$index + 1}}</td>
                <td ng-switch on="checked.name"><span ng-switch-when="true">{{item.name}}</span></td>
                <td ng-switch on="checked.price"><span ng-switch-when="true">{{item.price}}</span></td>
                <td ng-switch on="checked.category"><span ng-switch-when="true">{{item.category}}</span></td>
                <td ng-switch on="checked.count"><span ng-switch-when="true">{{item.count}}</span></td>
                <td ng-switch on="checked.tax"><span ng-switch-when="true">{{item.tax}}</span></td>
                <td ng-switch on="checked.expiration"><span ng-switch-when="true">{{item.expiration}}</span></td>
            </tr>
        </table>

        <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox" ng-model='checked.name'> Name</label>
                <label><input type="checkbox" ng-model='checked.price'> Price</label>
                <label><input type="checkbox" ng-model='checked.category'> Category</label>
                <label><input type="checkbox" ng-model='checked.count'> Count</label>
                <label><input type="checkbox" ng-model='checked.tax'> Tax</label>
                <label><input type="checkbox" ng-model='checked.expiration'> Expiration</label>
            </div>
        </div>
    </div>
</body>
</html>