@import 'bootstrap.css';
@import 'bootstrap-theme.css';

@import 'animation.css';

.links-list li {
    float: left; 
    margin-left: 20px; 
    list-style-type: none; 
} 

#container {
    height: 155px;
}

.panel {
	height: 400px;
}

.table {
    width: 400px;
}

.block {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    background-color: goldenrod;
}

.bordered {
    border: 5px solid #0094ff;
    color: #fff;
    text-align: center;
}

 button { 
     margin-right: 10px; 
 }