<!DOCTYPE html>
<html lang="en" ng-app="taskListApp">
<head>
	<meta charset="UTF-8">
	<title>L11 HW T1</title>

	<link href="../Libraries/bootstrap.css" rel="stylesheet" />
	<link href="../Libraries/bootstrap-theme.css" rel="stylesheet" />

	<script src="../Libraries/angular.js"></script>
	<script>
		// ### Задача 1
        // Откройте файл Task/Task.html.Вам необходимо разработать приложение “To do List”. Задача приложения отображать пользователю таблицу с задачами и предоставлять возможность добавлять новые задачи. Приложение должно быть построено по шаблону, который находится в папке Task в файле template.png

		// Модель
		var model = {
			tasks: []
		};

		// Модуль
		var taskListApp = angular.module("taskListApp", []);

		// Контроллер
		taskListApp.controller("TaskListCtrl", function ($scope) {

			$scope.data = model;

			// Обработчик нажатия по кнопке
			$scope.addItems = function () {

				$scope.data.tasks.push({
					name: $scope.taskName,
					description: $scope.taskDescription,
					duedate: $scope.taskDueDate,
					completed: $scope.taskCompleted
				});

				$scope.taskName = "";
				$scope.description = "";
				$scope.duedate = "";
			}

			$scope.showText = function (completed) {
                return completed ? "Да" : "Нет";
            }

            $scope.setStyle = function (completed) {
                return completed ? "color:green" : "color:red; font-weight: bold";
            }
		});

	</script>

</head>
<body ng-controller="TaskListCtrl">
	<p>Lesson 11 Homework Task 1</p>
	
	<div class="container">
		<h3>ToDo List</h3>

		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Date</th>
					<th>Completed</th>
				</tr>
			</thead>
			<tr ng-repeat="task in data.tasks">
				<td>{{task.name}}</td>
				<td>{{task.description}}</td>
				<td>{{task.duedate}}</td>
				<td>  
					<span style="{{setStyle(task.completed)}}">
						{{showText(task.completed)}}
					</span>
				</td>
			</tr>
		</table>

		<div>
			<!-- Форма для добавления новых задач -->
			<form class="form-horizontal">
				<div class="form-group row">
					<label for="input1" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="input1" placeholder="Введите название задания" ng-model="taskName">
					</div>
				</div>

				<div class="form-group row">
					<label for="input2" class="col-sm-2 control-label">Due Date</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="input2" placeholder="Введите дату выполнения" ng-model="taskDueDate">
					</div>
				</div>

				<div class="form-group row">
					<label for="textarea1" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="textarea1" placeholder="Введите описание" ng-model="taskDescription"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<label for="inlineCheckbox1" class="col-sm-2 control-label">Completed</label>
					<div class="col-sm-10">
						<div class="checkbox">
							<input type="checkbox" id="inlineCheckbox1" style="margin: 4px 0 0" ng-model="taskCompleted">
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" ng-click="addItems()">Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
